// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:hover,
a:focus {
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.padding {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0 40px 40px;
}

#list {
    position: relative;
}

#list ul {
    width: 80%;
    margin: 0 auto;
    // margin-left: 18%;
    // padding: 4%;
}

.question {
    color: rgb(63, 81, 181);
}

.answer {
    color: rgb(255, 64, 129);
}

#card_col {
    margin-left: 13%;
    // position: relative;
}

.container_padding_outer {
    padding: 12px;
    height: 345px;
    width: 345px;
    margin-left: -50px;
    position: absolute;
}

;
.container_padding {
    padding: 12px;
}

;
.card-user {
    position: absolute;
    height: 333px;
    width: 333px;
}

#card .mdl-card__title {
    color: white;
    height: 176px;
    background-image: url(asset-path('chef_card.jpg')) center / cover;
}

#card_error .mdl-card__title {
    color: white;
    height: 176px;
    background: url('<%= asset_path("oh-no.jpg") %> ') center / cover;
}

#card_success .mdl-card__title {
    color: white;
    height: 176px;
    background: url('<%= asset_path("oh-yes.jpg") %> ') center / cover;
}

.card_status {
    display: none;
}

.mdl-js-button {
    display: block;
    margin: 0 auto;
}

#card_success a {
    width: 50%;
}
